# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv2/
news_media/

.idea/

#Cache
*__pycache__/
.pytest_cache/
swagger-spec.yaml

#Enviroment
env.sh

#DataBase
*.db

.DS_Store

*.hypothesis/
tests/meta/